<!DOCTYPE html>
<html>
 <head>
  <title>AngularJS Shopping Cart</title>
  <script src="../../lib/angular.js"></script>
  <script src="../../lib/route.js"></script>
 </head>
 <body ng-app="myshoppingApp">
  <div ng-controller="myshoppingCart">
   <h1>Give Your Order</h1>
   <table border="0" cellspacing="2" cellpadding="2">
    <tr>
     <th>Name</th>
     <th>Category</th>
     <th>Unit Price</th>
     <th>Quantity</th>
     <th>Total Price</th>
     <th>Action</th>
    </tr>
    <tr ng-repeat = 'x in items'>
     <td><span ng-bind="x.name"></span></td>
     <td><span ng:bind="x.category"></span></td>
     <td><span ng_bind="x.price"></span></td>
     <td><input type="text" ng-model="quantity"/></td>
     <td><span>{{ x.price * quantity | currency}}</span></td>
     <td><input type="button" value="Remove" ng-click="removeProduct(x)"/></td>     
    </tr>
   </table>   
  </div>    
  <!-- 
   <span ng-bind="x.name"></span>
   <span ng:bind="x.name"></span>
   <span ng_bind="x.name"></span>
   <span data-ng-bind="x.name"></span>
   <span x-ng-bind="x.name"></span>
   
   All are equivalent to 
   <span>{{ x.name }}</span>
  -->
 </body>
</html>
<script type="text/javascript">

 angular.module('myshoppingApp', [])
  .controller('myshoppingCart', 
     function myshoppingCart($scope) {
        $scope.items = [
		  { name : "Pen" , category : "ABC", price:"5" },
		  { name : "Pencil" , category : "ABC", price:"3" },
		  { name : "Notebook" , category : "ABC", price:"20" },
		  { name : "Mobile Phone" , category : "XYZ", price:"2000" },
		  { name : "Chair" , category : "Furniture", price:"12000" }
        ];
   
   	    $scope.quantity = 0;
   
        $scope.removeProduct = function(givenIndx){
  	      var result = confirm("Are you sure, want to remove?");
	      if(result){
		    $scope.items.splice(givenIndx,1);
	      }
        }
    });
</script>




